@charset "utf-8";



@font-face {font-family:nbgM; src:url('../../font/NanumBarunGothic.woff') format('woff');}								/* 나눔바른고딕 M */
@font-face {font-family:play; font-weight:400; src:url('../../font/Play-Regular.woff') format('woff');}					/* 플레이 M */
@font-face {font-family:play; font-weight:700; src:url('../../font/Play-Bold.woff') format('woff');}						/* 플레이 B */


