@charset "utf-8";



@media all and (max-width:999px) {



}










@media all and (max-width:849px) {


}










@media all and (max-width:729px) {


}









/*요기서 부터 모바일*/
@media all and (max-width:599px) {
    /*과정명 표시 */
    #intro{
        height: 600px;
    }

    /*과목명*/
    #intro .intro_subject{
        position:absolute;
        width: 100%;
        height:55px;
        text-align:right;
        top : 90px;
    }

    #intro .intro_subject p{
        color:#334366;
        font:bold 38px nbgM;
        margin-right: 20px;
    }

    /*차시명 표시 */
    #intro .intro_subtitle{
        position:absolute;
        width: 100%;
        color:#fff;
        text-align: right;
        font:50px nsM;
        /*height: 79px;*/
        top : 140px;
        background-color: #ff7200;
    }

    #intro .intro_subtitle p
    {
        background-color: #3b4d70;
        float: right;
        border-radius: 20px 0px 0px 20px;
        padding: 1% 2% 1% 3%;
    }

    #intro .introBack1{
        width:100%;
        position:absolute;
        height: 600px;
        background:url("../img/intro_outro/img_01.png") center bottom no-repeat;
    }

    #intro .introBack2{
        width:100%;
        position:absolute;
        height: 600px;
        background:url("../img/intro_outro/img_02.png") center bottom no-repeat;
    }
}










@media all and (max-width:449px) {

}










@media all and (max-width:369px) {

}






