@charset "utf-8";

#learning-quiz-text
{
    float:left; width:100%;
    padding-top:50px;
}

#learning-quiz-text:after
{content:""; display:block; clear:both;}

#learning-quiz-text .quiz-name
{
    position:absolute; left:4.3%;
    top:100px;
    font:50px nsM;
    color:#2e5b9c;
    line-height:65px;
}

#learning-quiz-text .quiz-text
{
    position:absolute;
    left:30px;
    top:100px;
    font:16px nsM;
    color:#2e2e2e;
    line-height:25px;
}

#learning-quiz-text .question
{
    float:left;
    width:100%;
    padding:50px 0 0;
}

#learning-quiz-text .question dt
{
    position: relative;
    width:90%;
    font:23px nsM;
    color:#FFF;
    height: 88px;
    text-align:left;
    background:url("../img/quiz/q_box.png") no-repeat;
    padding:0px 50px;
}

#learning-quiz-text .question dt p{
    position: absolute;
    width:90%;
    top : 50%;
    margin: 0;
    transform: translate(0, -50%);
}

#learning-quiz-text .question dt br
{
    display:none;
}

#learning-quiz-text .question dd
{
    position: relative;
    text-align: center;"
}

#learning-quiz-text .question dd p
{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    text-align:left;
}

#learning-quiz-text .question dd .input_question
{
    text-align:left;
}

#learning-quiz-text .question a
{
    color:#fff;
}

#learning-quiz-text .question .input_question
{
    font: 20px nsM;
    line-height: 40px;
    padding-top: 50px;
    color:#333333;
    height: 135px;
}

#learning-quiz-text .question .btn {

    background:url("../img/learn/learn_input_button_bullet.png") 0 10px no-repeat;
    background-color: #b45c84;

    color:#fff;
    font:19px nsM;
    padding: 7px 10px 5px 30px;
    margin-right: 70px;
    position: absolute;
    bottom: 20px;
    right: 0;
}

#learning-quiz-text .question .input_question input
{
    font:20px nsM;
    color:#333333;
    border: 1px solid #bacce5;
}


#learning-quiz-text .feed
{
    position:relative;
    float:left;
    display: none;
    width:860px;
    background-color:rgba(70, 110, 169, 0.2);
    padding:50px 70px 20px 70px;
}
#learning-quiz-text .feed dt
{
    position:absolute;
    left:70px;
    top:0;
    font:20px nsM;
    color:#fff;
    line-height:20px;
    background:#7394c6;
    padding:6px 25px 4px 3%;
}


#learning-quiz-text .feed dd
{float:left;}
#learning-quiz-text .feed span
{
    display:block;
    width:72px;
    height:72px;
}
#learning-quiz-text .feed span.o
{
    background:url("../img/learn/answer_o.png") no-repeat;
}
#learning-quiz-text .feed span.x
{
    background:url("../img/learn/answer_x.png") no-repeat;
}

#learning-quiz-text .feed .ox
{width:10.5%;}

#learning-quiz-text .feed .text-1
{
    width:89.5%;
    font:18px nsM;
    color:#333333;
    line-height:25px;
}

#learning-quiz-text .feed .text-1 span
{
    padding:0px;
    margin:0px;
    display:inline;
    color:#b45c84;
}

#learning-quiz-text #page-narration-text
{
    border:1px solid #f00;
}

#learning-quiz-text #page-narration
{
    position: relative;
    width: 98%;
    margin-left:0;
    float:left;
    margin-left: 1%;
}













