@charset "utf-8";

/* 인트로 페이지*/

/*과정명 표시 */
#intro{
    position: relative;
    height: 621px;
}

/*과목명*/
#intro .intro_subject{
    position:absolute;
    width: 100%;

    text-align:right;
    top : 90px;
}

#intro .intro_subject p{
    height:55px;
    color:#334366;
    font:bold 38px nbgM;
    margin-right: 20px;
}

/*차시명 표시 */
#intro .intro_subtitle{
    position:absolute;
    width: 100%;
    text-align: right;
    /*height: 79px;*/
    top : 140px;
}

#intro .intro_subtitle p
{
    font:50px nsM;
    color:#fff;
    background-color: #3b4d70;
    float: right;
    border-radius: 20px 0px 0px 20px;
    padding: 1% 2% 0.5% 5%;
}

#intro .introBack1
{
    position:absolute;
    height: 497px;
    top:124px;
    width:100%;
    background:url("../img/intro_outro/img_01.png") no-repeat;
    background-position: center bottom;
}

#intro .introBack2
{
    width:100%;
    height: 295px;
    top: 326px;
    position:absolute;
    background:url("../img/intro_outro/img_02.png") no-repeat;
    background-position: center bottom;

}


















#outro
{
    position: relative;
    height: 621px;
}

#outro .outro-title
{
    width: 82%;
    position:relative;
    font:30px nsM;
    left:11%;
    top:85px;
    line-height: 50px;
}

#outro .outro_subtitle
{
    display: inline;
    font:45px nsM;
    color:#fff;
    background-color: #476dab;
    padding:2px;
}

#outro .introBack1
{
    position:absolute;
    height: 497px;
    top:124px;
    width:100%;
    background:url("../img/intro_outro/outro_img_01.png") no-repeat;
    background-position: 80% bottom;
}


#outro .introBack2
{

    width:100%;
    height: 295px;
    top: 326px;
    position:absolute;
    background:url("../img/intro_outro/outro_img_02.png") no-repeat;
    background-position: 80% bottom;

}