@charset "utf-8";

/* 인트로 페이지*/

/*과정명 표시 */
#intro{
    position:relative;
    height: 620px;
    overflow: hidden;
}

/*과목명*/
#intro .intro_subject{
    height:55px;
    text-align:right;
    position:absolute;
    width: 100%;
    top : 90px;
    animation: intro-title 1s ;
}

#intro .intro_subject p{
    color:#334366;
    font:bold 38px nbgM;
    margin-right: 20px;
}

/*차시명 표시 */
#intro .intro_subtitle{
	position: absolute;
	width: 100%;
	text-align: right;
	top : 140px;
	overflow: hidden;
	left: 1px;
	
}

#intro .intro_subtitle p
{
    color:#fff;
    font:50px nsM;
    background-color: #3b4d70;
    float: right;
    border-radius: 20px 0px 0px 20px;
    padding: 1% 2% 1% 3%;

    margin-right: 0%;

    animation: intro-subtitle 1s ;

    /*-webkit-animation-delay: 5s; !* Chrome, Safari, Opera *!*/
    /*animation-delay: 5s;*/

}

#intro .introBack1{
    top:0;
    width:100%;
    position:absolute;
    height: 622px;
    background:url("../img/intro_outro/img_01.png") center bottom no-repeat;
    animation: intro-back1 1s ;
}

#intro .introBack2{
    width:100%;
    position:absolute;
    height: 622px;
    background:url("../img/intro_outro/img_02.png") center bottom no-repeat;

    -webkit-animation: intro-back2 1s; /* Chrome, Safari, Opera */
    animation: intro-back2 1s ;
}





/*요기는 애니메이션이지요.*/
/*과목명*/
/* Standard syntax */
@keyframes intro-title{
    /*알파로 보임.*/
    from {
        margin-right: -100%;
    }

    to {
        margin-right: 0%;
    }
}


/* Chrome, Safari, Opera */
@-webkit-keyframes intro-title {
    from {
        margin-right: -100%;
    }

    to {
        margin-right: 0%;
    }
}
/*차시명*/
/*왼쪽에서 오른쪽으로 이동.*/
@keyframes intro-subtitle{

    from {
        margin-right: -100%;
    }

    to {
        margin-right: 0%;
    }
}



/* Chrome, Safari, Opera */
@-webkit-keyframes intro-back1 {
    from {
        top:100%;
        /*margin-right: -100%;*/
    }

    to {
        top:0;
        /*margin-right: 0%;*/
    }
}


/* Standard syntax */
@keyframes intro-back1 {
    from {
        top:100%;
        /*margin-right: -100%;*/
    }

    to {
        top:0;
        /*margin-right: 0%;*/
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes intro-back2 {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes intro-back2 {
    from {opacity: 0;}
    to {opacity: 1;}
}








#outro
{
    position: relative;
    height: 621px;
}

#outro .outro-title
{
    width: 82%;
    position:relative;
    font:30px nsM;
    left:11%;
    top:85px;
    line-height: 50px;
}

#outro .outro_subtitle
{
    display: inline;
    font:45px nsM;
    color:#fff;
    background-color: #476dab;
    padding:2px;
}

#outro .introBack1
{
    position:absolute;
    height: 497px;
    top:124px;
    width:100%;
    background:url("../img/intro_outro/outro_img_01.png") no-repeat;
    background-position: 80% bottom;
}


#outro .introBack2
{

    width:100%;
    height: 295px;
    top: 326px;
    position:absolute;
    background:url("../img/intro_outro/outro_img_02.png") no-repeat;
    background-position: 80% bottom;

}
