@charset "utf-8";

#quiz
{
    position:relative;
    width:100%;
    height:620px;
    z-index:100;
}
#quiz:after
{content:""; display:block; clear:both;}


#quiz-intro {
    position: relative;
    width: 100%;
    padding-top: 180px;
}

#quiz-intro:after
{content:""; display:block; clear:both;}

#quiz-intro .title-area
{
    position:absolute;
    left:8.5%;
    top:135px;
    font-size:100px;
    color:#2e5b9c;
    transition:All 0.2s ease;
    -webkit-transition:All 0.2s ease;
    -moz-transition:All 0.2s ease;
    -o-transition:All 0.2s ease;
    border: 1px solid #f00;
}

#quiz-intro .text-area
{
    width:100%;
    height:274px;
    background:url("../img/quiz/img_01.png") no-repeat;
    background-position: center;
    text-align: center;
}


#quiz-intro .text-area .type-1
{
    color: #fff;
    position: relative;
    font:38px nsM;
    top : 50%;
    transform: translate(0, -50%);

    transition:All 0.2s ease;
    -webkit-transition:All 0.2s ease;
    -moz-transition:All 0.2s ease;
    -o-transition:All 0.2s ease;
    border: 1px solid #f00;
}

#quiz-intro .text-area .type-1 span{
    font:28px nsM;
}

#quiz-intro .text-area .type-1 .txt-yello
{color:#F0FF00;}


#quiz-intro .btn-area a
{
    position:absolute;
    width:135px;
    height:40px;
    right:95px;
    top:480px;
    font:40px play;
    color:#003366;
    background:url("../img/quiz/start_img_01.png") left bottom no-repeat;
    transition:All 0.2s ease;
    -webkit-transition:All 0.2s ease;
    -moz-transition:All 0.2s ease;
    -o-transition:All 0.2s ease;

    border: 1px solid #f00
}
#quiz-intro .btn-area a:hover
{
    color:#000;
    background-position:right bottom;
}




















