@charset "utf-8";

#quiz
{
    position:relative;
    width:100%;
    height:620px;
    z-index:100;
}
#quiz:after
{content:""; display:block; clear:both;}

/*인트로*/
#quiz-intro {
    position: relative;
    width: 100%;
    padding-top: 180px;
}

#quiz-intro:after
{content:""; display:block; clear:both;}

#quiz-intro .title-area
{
    position:absolute;
    left:8.5%;
    top:135px;
    font-size:100px;
    color:#2e5b9c;
    transition:All 0.2s ease;
    -webkit-transition:All 0.2s ease;
    -moz-transition:All 0.2s ease;
    -o-transition:All 0.2s ease;
}

#quiz-intro .text-area
{
    width:100%;
    height:274px;
    background:url("../img/quiz/img_01.png") no-repeat;
    background-position: center;
    text-align: center;
}

#quiz-intro .text-area div
{
    position: relative;
    top : 50%;
    transform: translate(0, -50%);
}

#quiz-intro .text-area .type-1
{
    color: #fff;
    font:38px nsM;
    transition:All 0.2s ease;
    -webkit-transition:All 0.2s ease;
    -moz-transition:All 0.2s ease;
    -o-transition:All 0.2s ease;
    margin-bottom: 10px;
}

#quiz-intro .text-area .type-2
{
    color: #fff;
    font:28px nsM;
}

#quiz-intro .text-area .type-2 .txt-yello
{color:#F0FF00;}
#quiz-intro br
{display:none;}

#quiz-intro .btn-area a
{
    position:absolute;
    width:135px;
    height:40px;
    right:95px;
    top:480px;
    font:40px play;
    color:#003366;
    background:url("../img/quiz/start_img_01.png") left bottom no-repeat;
    transition:All 0.2s ease;
    -webkit-transition:All 0.2s ease;
    -moz-transition:All 0.2s ease;
    -o-transition:All 0.2s ease;
}

#quiz-intro .btn-area a:hover
{
    color:#000;
}








/*문제*/





/* ���� ���� */

.quiz
{
    position:relative; float:left;
    width:100%;
    padding-top:100px;
}

.quiz:after																{content:""; display:block; clear:both;}
.quiz li																	{float:left;}



.quiz li.question
{
    width:100%;
    height:335px;
    background:url("../img/quiz/q_box.png") no-repeat;
    background-color:rgba(255, 255, 255, 0.5);
    /*border: 1px solid #ff0;*/
}

.quiz li.question dl													{position:relative; float:left; width:100%; height:100%;}
.quiz li.question dt
{
    position:absolute;
    width:130px; top:15px; font-size:60px;
    color:#FFF;
    line-height:60px; text-align:right;
}
.quiz li.question dd.text
{
    float:left; width:80%;
    font:24px nsM;
    color:#FFF;
    line-height:30px;
    /*border-bottom:1px solid #4085B9;*/
    padding:30px 5.5% 30px 14.5%;

}
.quiz li.question dd.text span									{color:#FDFF32; border-bottom:1px solid #FDFF32;}

.quiz li.question dd.ex												{position:relative; float:left; width:80%; font:16px nsM; color:#FFF; line-height:23px; border-bottom:1px solid #4085B9; background:#005391; padding:19px 5.5% 18px 14.5%;}
.quiz li.question dd.ex span
{
    position:absolute;
    display:block;
    width:59px;
    height:42px;
    left:54px; top:10px; font:18px nsM; color:#FFF; line-height:23px; text-align:center; border:3px solid #3375A7; border-radius:35px; padding-top:17px;}
.quiz li.question dd.ex b											{font-weight:normal;}
.quiz li.question dd.btn
{
    position:absolute;
    width:160px;
    height:50px;
    right:45px;
    bottom:15px;
    background:url("../img/quiz/btn_img_01.png") no-repeat;
}
.quiz li.question dd.btn a
{
    display:block;
    overflow:hidden;
    width:110px;
    height:34px;
    font:18px nsM;
    color:#FFF;
    text-align:center;
    padding:13px 0 0 30px;
}





.quiz li.question dd.type-1
{
    float:left;
    width:80%;
    font:20px nsM;
    line-height:25px;
    padding:40px 5.5% 0 14.5%;
}
.quiz li.question dd.type-1 a
{
    position:relative;
    display:block;
    color:#333333;
    padding:1px 0 0 40px; margin-bottom:15px;
}

.quiz li.question dd.type-1 a.n-1								{background:url("../img/quiz/num_01.png") no-repeat;}
.quiz li.question dd.type-1 a.n-1-choice
{color:#cc3366; background:url("../img/quiz/num_01.png") left bottom no-repeat;}
.quiz li.question dd.type-1 a.n-2								{background:url("../img/quiz/num_02.png") no-repeat;}
.quiz li.question dd.type-1 a.n-2-choice
{color:#cc3366; background:url("../img/quiz/num_02.png") left bottom no-repeat;}

.quiz li.question dd.type-1 a.n-3								{background:url("../img/quiz/num_03.png") no-repeat;}
.quiz li.question dd.type-1 a.n-3-choice					{color:#cc3366; background:url("../img/quiz/num_03.png") left bottom no-repeat;}
.quiz li.question dd.type-1 a.n-4								{background:url("../img/quiz/num_04.png") no-repeat;}
.quiz li.question dd.type-1 a.n-4-choice					{color:#cc3366; background:url("../img/quiz/num_04.png") left bottom no-repeat;}
.quiz li.question dd.type-1 a span								{position:absolute; display:block; width:40px; height:40px; left:-7px; top:-7px; text-indent:-9999px;}
.quiz li.question dd.type-1 a span.none						{display:none;}
.quiz li.question dd.type-1 a span.check-1				{background:url("../img/quiz/check_00.png") no-repeat; z-index:101;}
.quiz li.question dd.type-1 a span.check-2				{background:url("../img/quiz/check_00.png") no-repeat; z-index:101;}
.quiz li.question dd.type-1 a span.check-3				{background:url("../img/quiz/check_00.png") no-repeat; z-index:101;}
.quiz li.question dd.type-1 a span.correct-check		{background:url("../img/quiz/check_01.png") no-repeat; z-index:100;}





.quiz li.question dd.type-2										{float:left; width:80%; font:20px nsM; line-height:25px; padding:30px 5.5% 0 14.5%;}
.quiz li.question dd.type-2 a
{position:relative; display:inline-block; color:#333333; padding:1px 0 0 40px; margin-bottom:15px;}

.quiz li.question dd.type-2 a.n-1								{width:17%; background:url("../img/quiz/num_01.png") no-repeat; margin-right:3%;}
.quiz li.question dd.type-2 a.n-1-choice					{width:17%; color:#cc3366; background:url("../img/quiz/num_01.png") left bottom no-repeat; margin-right:3%;}
.quiz li.question dd.type-2 a.n-2								{width:45%; background:url("../img/quiz/num_02.png") no-repeat;}
.quiz li.question dd.type-2 a.n-2-choice					{width:45%; color:#cc3366; background:url("../img/quiz/num_02.png") left bottom no-repeat;}
.quiz li.question dd.type-2 a.n-3								{width:17%; background:url("../img/quiz/num_03.png") no-repeat; margin-right:3%;}
.quiz li.question dd.type-2 a.n-3-choice					{width:17%; color:#cc3366; background:url("../img/quiz/num_03.png") left bottom no-repeat; margin-right:3%;}
.quiz li.question dd.type-2 a.n-4								{width:45%; background:url("../img/quiz/num_04.png") no-repeat;}
.quiz li.question dd.type-2 a.n-4-choice					{width:45%; color:#cc3366; background:url("../img/quiz/num_04.png") left bottom no-repeat;}
.quiz li.question dd.type-2 a span								{position:absolute; display:block; width:40px; height:40px; left:-7px; top:-7px; text-indent:-9999px;}
.quiz li.question dd.type-2 a span.none						{display:none;}
.quiz li.question dd.type-2 a span.check-1				{background:url("../img/quiz/check_00.png") no-repeat; z-index:101;}
.quiz li.question dd.type-2 a span.check-2				{background:url("../img/quiz/check_00.png") no-repeat; z-index:101;}
.quiz li.question dd.type-2 a span.check-3				{background:url("../img/quiz/check_00.png") no-repeat; z-index:101;}
.quiz li.question dd.type-2 a span.correct-check		{background:url("../img/quiz/check_01.png") no-repeat; z-index:100;}





.quiz li.check-1
{
    position:absolute;
    display:block;
    width:110px;
    height:110px;
    left:40px;
    top:100px;
    text-indent:-9999px; background:url("../img/quiz/check_02.png") no-repeat;}
.quiz li.check-2
{
    position:absolute; display:block; width:110px;
    height:110px;
    left:40px;
    top:95px;
    text-indent:-9999px; background:url("../img/quiz/check_03.png") no-repeat;}



.quiz li.feed
{
    width:100%;
    height:160px;
    /* background:#EDF0F6; */
}
.quiz li.feed div
{
    position:absolute;
    width:100%;
    height:305px;
    left:0;
    top:100px;
    z-index:102;
}

.quiz li.feed div img
{
    width:100%; height:330px;
}

.quiz li.feed dl
{
    position:relative;
    float:left;
    width:100%;
}
.quiz li.feed dt
{
    /*     position:absolute;  */
    /*     width:130px;  */
    /*        top:35px;  */
    /*     text-align:right; */
    /*     border:1px solid #f00; */
    margin-left:50px;
    margin-top:10px;
}

.quiz li.feed dt span.text-1
{
    /*     border:1px solid #f00; */
    /*display:inline-block;*/
    font:20px nsM;
    color:#fff;
    line-height:60px;
    vertical-align:top;
    padding:3px 10px;
    background:#999;
}


.quiz li.feed dt span.text-2
{
    font:bold 30px nsM;
    color:#336699;
    line-height:65px;
    margin-left:10px;
}
.quiz li.feed dd
{
    width:80%;
    font:bold 18px nsM;
    color:#333333;
    line-height:25px;
    padding:0px 5.5% 0 50px;
}

.quiz li.feed dd span
{
    font:20px nsM;
    color:#fff;
    /*     line-height:60px; */
    vertical-align:top;
    padding:3px 10px;
    background:#999;
    margin-right:10px;
}
.quiz li.feed dd.btn
{
    position:absolute;
    width:160px; height:50px;
    right:45px;
    top:-65px;
    background:url("../img/quiz/btn_img_02.png") no-repeat; padding:0;
    z-index:103;
    border: 1px solid #f00;
}
.quiz li.feed dd.btn a
{
    display:block;
    overflow:hidden;
    width:110px;
    height:34px;
    font:18px nsM; color:#FFF;
    text-align:center;
    padding:13px 0px 0 30px;
    top:-100px;
}





.q-num
{
    position:absolute;
    width:238px;
    /*     height:36px; */
    right:35px;
    top:93px;
    /*border:1px solid #f00;*/
    background:url("../img/quiz/q_num_line.png") 50px 17px no-repeat;
    z-index:103;
}

.q-num a
{
    position:relative;
    float:left;
    display:block;
    overflow:hidden;
    width:64px;
    height:29px;
    font:18px nsM;
    color:#FFF;
    background:url("../img/quiz/q_num_bg.png") no-repeat;
    padding:7px 0 0 12px;
    line-height:14px
}

.q-num a:hover
{
    background-position:0 -44px;
}
.q-num a span														{position:absolute; display:block; width:16px; height:16px; left:46px; top:6px;}

#quiz_alert1															{position:absolute; width:100%; height:100%; left:0; top:0; text-align:center; background:url("../img/quiz/pop_alert_bg.png") repeat; z-index:300;}
#quiz_alert1 img														{margin-top:140px;}
#quiz_alert2															{position:absolute; width:100%; height:100%; left:0; top:0; text-align:center; background:url("../img/quiz/pop_alert_bg.png") repeat; z-index:300;}
#quiz_alert2 img														{margin-top:140px;}










/* ��� ���� */

.quiz-result
{
    float:left; width:100%; padding-top:130px;
    background:url("../img/quiz/result_bg.png") 0 130px no-repeat;
}
.quiz-result:after														{content:""; display:block; clear:both;}


.quiz-result .result-text
{
    float:left;
    width:100%;
    font:bold 35px nsM;
    color:#FFF;
    line-height:40px;
    text-align:center;

    padding:24px 0 21px;}
.quiz-result .result-text span
{font-size:45px; color:#FDFF32; text-shadow:0 0 3px #222;}


.quiz-result .result-check
{position:relative; float:left; width:100%; height:240px; text-align:center;
    /* background:url("../img/quiz/quiz_bg_01.png") repeat;  */
    padding-top:30px;
}
.quiz-result .result-check dl										{display:inline-block; width:150px; margin-left:40px; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease;}
.quiz-result .result-check dl:first-child						{margin-left:0;}
.quiz-result .result-check dt
{
    font:35px nsM;
    color:#FFF; border-radius:12px 12px 0 0; background:#022541; padding:2px 0 3px;}
.quiz-result .result-check dd									{border-radius:0 0 12px 12px; background:#03406E; padding:10px 0;}
.quiz-result .result-check dd div								{width:100px; height:100px; margin:0 auto;}
.quiz-result .result-check dd img								{width:100%;}

.quiz-result .result-check a
{
    position:absolute;
    display:block; overflow:hidden; width:180px;
    height:34px;
    left:50%; top:245px;
    font:18px nsM;
    color:#FFF; text-align:center;
    padding:13px 45px 0 25px;
    transition:All 0.2s ease;
    -webkit-transition:All 0.2s ease;
    -moz-transition:All 0.2s ease;
    -o-transition:All 0.2s ease;}

.quiz-result .result-check a.type-1
{
    background:url("../img/quiz/btn_img_03.png") no-repeat;
    margin-left:-230px;
}
.quiz-result .result-check a.type-2
{
    background:url("../img/quiz/btn_img_03.png") no-repeat;
}



