@charset "utf-8";




#objective																{position:relative; width:1000px; height:620px; z-index:100;}
#objective:after														{content:""; display:block; clear:both;}
#objective .theme													{position:absolute; left:0; top:54px; font:20px nsM; color:#FFF; line-height:25px; background:url("../img/inc/theme_img_01.png") no-repeat #7771BD; padding:4px 20px 2px 43px; z-index:100; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease;}
#objective .page-ending											{position:absolute; float:left; width:890px; bottom:7px; font:14px nsM; color:#37414A; line-height:20px; text-align:right; padding:20px 55px 0;}




#objective-area														{position:relative; float:left; width:890px; padding:110px 55px 0;}
#objective-area:after												{content:""; display:block; clear:both;}

#objective-area dl													{position:relative; float:left; width:710px; min-height:70px; padding:29px 0 20px 170px; margin-bottom:20px;}
#objective-area .type-1											{border:5px solid #5A8DAC; background:url("../img/objective/side_border_01.png") right 0 no-repeat #FFF;}
#objective-area .type-2											{border:5px solid #579E66; background:url("../img/objective/side_border_02.png") right 0 no-repeat #FFF;}

#objective-area dt													{position:absolute; left:0; top:15px; font:28px nbgM; color:#FFF; line-height:36px; padding:3px 15px 1px;}
#objective-area .type-1 dt										{background:#5A8DAC;}
#objective-area .type-2 dt										{background:#579E66;}

#objective-area dd													{float:left; width:94%; font:22px nsM; color:#333; line-height:28px; padding:0 3.5% 7px 2.5%;}
#objective-area .type-1 dd										{background:url("../img/objective/bullet_01.png") 0 5px no-repeat;}
#objective-area .type-2 dd										{background:url("../img/objective/bullet_02.png") 0 5px no-repeat;}


#objective-area .objective-guide								{float:left; width:100%; font:14px nsM; color:#56595B; padding-bottom:7px;}
#objective-area .objective-sound								{float:left; width:100%; height:40px;}


