@charset "utf-8";




#quiz																		{position:relative; width:1000px; height:620px; z-index:100;}
#quiz:after																{content:""; display:block; clear:both;}
#quiz .theme															{position:absolute; left:0; top:54px; font:20px nsM; color:#FFF; line-height:25px; background:url("../img/inc/theme_img_01.png") no-repeat #7771BD; padding:4px 20px 2px 43px; z-index:100; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease;}
#quiz .page-ending													{position:absolute; float:left; width:940px; bottom:7px; font:14px nsM; color:#37414A; line-height:20px; text-align:right; padding:10px 30px 0;}









/* 인트로 영역 */

#quiz-intro																{position:relative; float:left; width:100%; padding-top:180px;}
#quiz-intro:after														{content:""; display:block; clear:both;}

#quiz-intro li															{position:relative; float:left; color:#FFF; text-align:center;}
#quiz-intro br															{display:none;}
#quiz-intro span														{color:#F0FF00;}
#quiz-intro a															{position:absolute; display:block; width:135px; height:40px; right:95px; bottom:20px; font:25px nsM; color:#FFF; line-height:35px; text-align:left; background:url("../img/quiz/start_img_01.png") right top no-repeat; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease;}
#quiz-intro a:hover													{color:#F0FF00; background-position:left top;}

#quiz-intro .title-area												{position:absolute; left:85px; top:340px; font:700 200px play; cursor:default; z-index:1;  transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease;}
#quiz-intro .text-area												{width:100%; height:185px; background:url("../img/quiz/quiz_bg_01.png") repeat;}
#quiz-intro .btn-area												{width:100%; height:115px; background:url("../img/quiz/quiz_bg_02.png") repeat;}
#quiz-intro .type-1													{font:38px nsM; line-height:50px; padding:44px 0 3px; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease;}
#quiz-intro .type-2													{font:28px nsM; line-height:50px; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease;}










/* 퀴즈 영역 */

.quiz																		{position:relative; float:left; width:100%; padding-top:105px;}
.quiz:after																{content:""; display:block; clear:both;}
.quiz li																	{float:left;}



.quiz li.question														{width:100%; height:305px; background:url("../img/quiz/quiz_bg_01.png") repeat;}
.quiz li.question dl													{position:relative; float:left; width:100%; height:100%;}
.quiz li.question dt													{position:absolute; width:130px; top:15px; font:700 60px play; color:#FFF; line-height:60px; text-align:right;}
.quiz li.question dd.text											{float:left; width:80%; font:24px nsM; color:#FFF; line-height:30px; border-bottom:1px solid #4085B9; padding:40px 5.5% 15px 14.5%;}
.quiz li.question dd.text span									{color:#FDFF32; border-bottom:1px solid #FDFF32;}

.quiz li.question dd.ex												{position:relative; float:left; width:80%; font:16px nsM; color:#FFF; line-height:23px; border-bottom:1px solid #4085B9; background:#005391; padding:19px 5.5% 18px 14.5%;}
.quiz li.question dd.ex span										{position:absolute; display:block; width:59px; height:42px; left:54px; top:9px; font:18px nsM; color:#FFF; line-height:23px; text-align:center; border:3px solid #3375A7; border-radius:35px; padding-top:17px;}
.quiz li.question dd.ex b											{font-weight:normal;}
.quiz li.question dd.btn											{position:absolute; width:160px; height:50px; right:45px; bottom:15px; background:url("../img/quiz/btn_img_01.png") no-repeat;}
.quiz li.question dd.btn a											{display:block; overflow:hidden; width:110px; height:34px; font:18px nsM; color:#FFF; text-align:center; padding:16px 45px 0 5px;}





.quiz li.question dd.type-1										{float:left; width:80%; font:20px nsM; line-height:25px; padding:20px 5.5% 0 14.5%;}
.quiz li.question dd.type-1 a										{position:relative; display:block; color:#FFF; padding:1px 0 0 40px; margin-bottom:15px;}

.quiz li.question dd.type-1 a.n-1								{background:url("../img/quiz/num_01.png") no-repeat;}
.quiz li.question dd.type-1 a.n-1-choice					{color:#FDFF32; background:url("../img/quiz/num_01.png") left bottom no-repeat;}
.quiz li.question dd.type-1 a.n-2								{background:url("../img/quiz/num_02.png") no-repeat;}
.quiz li.question dd.type-1 a.n-2-choice					{color:#FDFF32; background:url("../img/quiz/num_02.png") left bottom no-repeat;}
.quiz li.question dd.type-1 a.n-3								{background:url("../img/quiz/num_03.png") no-repeat;}
.quiz li.question dd.type-1 a.n-3-choice					{color:#FDFF32; background:url("../img/quiz/num_03.png") left bottom no-repeat;}
.quiz li.question dd.type-1 a.n-4								{background:url("../img/quiz/num_04.png") no-repeat;}
.quiz li.question dd.type-1 a.n-4-choice					{color:#FDFF32; background:url("../img/quiz/num_04.png") left bottom no-repeat;}
.quiz li.question dd.type-1 a span								{position:absolute; display:block; width:40px; height:40px; left:-7px; top:-7px; text-indent:-9999px;}
.quiz li.question dd.type-1 a span.none						{display:none;}
.quiz li.question dd.type-1 a span.check-1				{background:url("../img/quiz/check_00.png") no-repeat; z-index:101;}
.quiz li.question dd.type-1 a span.check-2				{background:url("../img/quiz/check_00.png") no-repeat; z-index:101;}
.quiz li.question dd.type-1 a span.check-3				{background:url("../img/quiz/check_00.png") no-repeat; z-index:101;}
.quiz li.question dd.type-1 a span.correct-check-1		{background:url("../img/quiz/check_01.png") no-repeat; z-index:100;}
.quiz li.question dd.type-1 a span.correct-check-2		{background:url("../img/quiz/check_01.png") no-repeat; z-index:100;}
.quiz li.question dd.type-1 a span.correct-check-3		{background:url("../img/quiz/check_01.png") no-repeat; z-index:100;}





.quiz li.question dd.type-2										{float:left; width:80%; font:20px nsM; line-height:25px; padding:30px 5.5% 0 14.5%;}
.quiz li.question dd.type-2 a										{position:relative; display:inline-block; color:#FFF; padding:1px 0 0 40px; margin-bottom:15px;}

.quiz li.question dd.type-2 a.n-1								{width:17%; background:url("../img/quiz/num_01.png") no-repeat; margin-right:3%;}
.quiz li.question dd.type-2 a.n-1-choice					{width:17%; color:#FDFF32; background:url("../img/quiz/num_01.png") left bottom no-repeat; margin-right:3%;}
.quiz li.question dd.type-2 a.n-2								{width:45%; background:url("../img/quiz/num_02.png") no-repeat;}
.quiz li.question dd.type-2 a.n-2-choice					{width:45%; color:#FDFF32; background:url("../img/quiz/num_02.png") left bottom no-repeat;}
.quiz li.question dd.type-2 a.n-3								{width:17%; background:url("../img/quiz/num_03.png") no-repeat; margin-right:3%;}
.quiz li.question dd.type-2 a.n-3-choice					{width:17%; color:#FDFF32; background:url("../img/quiz/num_03.png") left bottom no-repeat; margin-right:3%;}
.quiz li.question dd.type-2 a.n-4								{width:45%; background:url("../img/quiz/num_04.png") no-repeat;}
.quiz li.question dd.type-2 a.n-4-choice					{width:45%; color:#FDFF32; background:url("../img/quiz/num_04.png") left bottom no-repeat;}
.quiz li.question dd.type-2 a span								{position:absolute; display:block; width:40px; height:40px; left:-7px; top:-7px; text-indent:-9999px;}
.quiz li.question dd.type-2 a span.none						{display:none;}
.quiz li.question dd.type-2 a span.check-1				{background:url("../img/quiz/check_00.png") no-repeat; z-index:101;}
.quiz li.question dd.type-2 a span.check-2				{background:url("../img/quiz/check_00.png") no-repeat; z-index:101;}
.quiz li.question dd.type-2 a span.check-3				{background:url("../img/quiz/check_00.png") no-repeat; z-index:101;}
.quiz li.question dd.type-2 a span.correct-check-1		{background:url("../img/quiz/check_01.png") no-repeat; z-index:100;}
.quiz li.question dd.type-2 a span.correct-check-2		{background:url("../img/quiz/check_01.png") no-repeat; z-index:100;}
.quiz li.question dd.type-2 a span.correct-check-3		{background:url("../img/quiz/check_01.png") no-repeat; z-index:100;}





.quiz li.question dd.type-3										{float:left; width:81%; font:20px nsM; line-height:25px; padding:10px 5% 0 14%;}
.quiz li.question dd.type-3 a										{position:relative; display:inline-block; width:165px; height:165px; text-indent:-9999px; margin-right:0;}

.quiz li.question dd.type-3 a.n-o								{background:url("../img/learn/btn_o_01.png") no-repeat; margin-right:80px;}
.quiz li.question dd.type-3 a.n-o-choice					{background:url("../img/learn/btn_o_03.png") no-repeat; margin-right:80px;}
.quiz li.question dd.type-3 a.n-x								{background:url("../img/learn/btn_x_01.png") no-repeat;}
.quiz li.question dd.type-3 a.n-x-choice					{background:url("../img/learn/btn_x_03.png") no-repeat;}
.quiz li.question dd.type-3 a span								{position:absolute; display:block; width:40px; height:40px; left:0; top:18px; text-indent:-9999px;}
.quiz li.question dd.type-3 a span.none						{display:none;}
.quiz li.question dd.type-3 a span.check-1				{background:url("../img/quiz/check_30.png") no-repeat; z-index:101;}
.quiz li.question dd.type-3 a span.check-2				{background:url("../img/quiz/check_30.png") no-repeat; z-index:101;}
.quiz li.question dd.type-3 a span.check-3				{background:url("../img/quiz/check_30.png") no-repeat; z-index:101;}
.quiz li.question dd.type-3 a span.correct-check-1		{background:url("../img/quiz/check_01.png") no-repeat; z-index:100;}
.quiz li.question dd.type-3 a span.correct-check-2		{background:url("../img/quiz/check_01.png") no-repeat; z-index:100;}
.quiz li.question dd.type-3 a span.correct-check-3		{background:url("../img/quiz/check_01.png") no-repeat; z-index:100;}





.quiz li.question dd.type-4										{float:left; width:80.5%; font:20px nsM; line-height:25px; padding:20px 5% 0 14.5%;}
.quiz li.question dd.type-4 label								{position:relative; display:inline-block; font:24px nsM; color:#FFF; line-height:48px; padding-right:12px;}
.quiz li.question dd.type-4 input								{position:relative; display:inline-block; width:665px; height:45px; font:22px nsM; color:#1A3B6C; line-height:35px; border:5px solid #BEDCE9; padding:0 10px 0;}





.quiz li.check-1														{position:absolute; display:block; width:110px; height:110px; left:33px; top:95px; text-indent:-9999px; background:url("../img/quiz/check_02.png") no-repeat;}
.quiz li.check-2														{position:absolute; display:block; width:110px; height:110px; left:33px; top:95px; text-indent:-9999px; background:url("../img/quiz/check_03.png") no-repeat;}



.quiz li.feed															{width:100%; height:160px; background:#EDF0F6;}
.quiz li.feed div														{position:absolute; width:100%; height:305px; left:0; top:105px; z-index:102;}
.quiz li.feed div img													{width:100%; height:305px;}

.quiz li.feed dl														{position:relative; float:left; width:100%;}
.quiz li.feed dt														{position:absolute; width:130px; top:9px; text-align:right;}
.quiz li.feed dt.correct-case-1									{position:absolute; width:945px; top:9px; text-align:left; padding-left:55px;}

.quiz li.feed dt span.text-1										{display:inline-block; font:20px nsM; color:#222; line-height:60px; vertical-align:top; padding:11px 5px 0 0;}
.quiz li.feed dt span.text-2										{display:inline-block; font:700 60px play; color:#FF0060; line-height:60px; vertical-align:top;}
.quiz li.feed dt span.text-3										{display:inline-block; font:bold 60px nbgM; color:#FF0060; line-height:60px; vertical-align:top; padding-top:5px;}
.quiz li.feed dt span.text-4										{display:inline-block; font:27px nbgM; color:#FF0060; line-height:60px; vertical-align:top; padding-top:10px;}

.quiz li.feed dd														{float:left; width:80%; font:18px nsM; color:#1A3B6C; line-height:25px; padding:40px 5.5% 0 14.5%;}
.quiz li.feed dd.text-case-1										{width:850px; padding:70px 50px 0 100px;}
.quiz li.feed dd.btn													{position:absolute; width:160px; height:50px; right:45px; top:135px; background:url("../img/quiz/btn_img_02.png") no-repeat; padding:0;}
.quiz li.feed dd.btn a												{display:block; overflow:hidden; width:110px; height:34px; font:18px nsM; color:#FFF; text-align:center; padding:16px 45px 0 5px;}





.q-num																	{position:absolute; width:228px; height:36px; right:45px; top:87px; background:url("../img/quiz/q_num_line.png") 50px 17px no-repeat; z-index:103;}
.q-num a																{position:relative; float:left; display:block; overflow:hidden; width:64px; height:29px; font:700 18px play; color:#FFF; background:url("../img/quiz/q_num_bg.png") no-repeat; padding:7px 0 0 12px;}
.q-num a:hover														{background-position:0 bottom;}
.q-num a.on															{background-position:0 bottom;}
.q-num a span														{position:absolute; display:block; width:16px; height:16px; left:46px; top:6px;}

#quiz_alert1															{position:absolute; width:100%; height:100%; left:0; top:0; text-align:center; background:url("../img/quiz/pop_alert_bg.png") repeat; z-index:300;}
#quiz_alert1 img														{margin-top:140px;}
#quiz_alert2															{position:absolute; width:100%; height:100%; left:0; top:0; text-align:center; background:url("../img/quiz/pop_alert_bg.png") repeat; z-index:300;}
#quiz_alert2 img														{margin-top:140px;}










/* 통계 영역 */

.quiz-result															{float:left; width:100%; padding-top:150px;}
.quiz-result:after														{content:""; display:block; clear:both;}


.quiz-result .result-text											{float:left; width:100%; font:35px nsM; color:#FFF; line-height:40px; text-align:center; background:url("../img/quiz/quiz_bg_02.png") repeat; padding:24px 0 21px;}
.quiz-result .result-text span									{font-size:45px; color:#FDFF32; text-shadow:0 0 3px #222;}


.quiz-result .result-check										{position:relative; float:left; width:100%; height:240px; text-align:center; background:url("../img/quiz/quiz_bg_01.png") repeat; padding-top:30px;}
.quiz-result .result-check dl										{display:inline-block; width:150px; margin-left:40px; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease;}
.quiz-result .result-check dl:first-child						{margin-left:0;}
.quiz-result .result-check dt										{font:700 35px play; color:#FFF; border-radius:12px 12px 0 0; background:#022541; padding:2px 0 3px;}
.quiz-result .result-check dd									{border-radius:0 0 12px 12px; background:#03406E; padding:10px 0;}
.quiz-result .result-check dd div								{width:100px; height:100px; margin:0 auto;}
.quiz-result .result-check dd img								{width:100%;}

.quiz-result .result-check a										{position:absolute; display:block; overflow:hidden; width:180px; height:34px; left:50%; top:245px; font:18px nsM; color:#FFF; text-align:center; padding:16px 45px 0 5px; transition:All 0.2s ease; -webkit-transition:All 0.2s ease; -moz-transition:All 0.2s ease; -o-transition:All 0.2s ease;}
.quiz-result .result-check a.type-1							{background:url("../img/quiz/btn_img_03.png") no-repeat; margin-left:-230px;}
.quiz-result .result-check a.type-2							{background:url("../img/quiz/btn_img_04.png") no-repeat;}





